<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Login</h3>
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Your Email" name="email" [(ngModel)]="email">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="password" placeholder="Your Password" name="password" [(ngModel)]="password">
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" (click)="mylogin()">Log In</button>
            </div>
        </fieldset>
    </div>
</div>